<div class="row mb-3">
    <div class="col">
      <app-table-card header="Crew" icon="crew.png" collapsible=true>
        <tbody *ngIf="numberOfCrew > 0">
          <tr>
            <td class="no-wrap">
              <tr>
                <small>Número de Tripulantes</small>
              </tr>
              <tr>
                {{ numberOfCrew }}
              </tr>
            </td>
          </tr>
        </tbody>
        <div *ngIf="numberOfCrew === 0" class="text-center my-3">
            <img *ngIf="iconPath" src="{{iconPath}}warning.png" height="24px" />
            <span class="no-wrap">Información de la tripulación</span>
            <span class="no-wrap">está marcado para entrega,</span>
            <span class="no-wrap">pero no se proporciona información.</span>
          </div>
      </app-table-card>
    </div>
  </div>
