<div class="row mb-3">
    <div class="col">
      <app-table-card header="Pax" icon="pax.png" collapsible=true>
        <tbody *ngIf="numberOfPassengers > 0">
          <tr>
            <td class="no-wrap">
              <tr>
                <small>Número de Pasajeros</small>
              </tr>
              <tr>
                {{ numberOfPassengers }}
              </tr>
            </td>
            <td class="no-wrap">
              <tr>
                <small>Número de pasajeros en tránsito</small>
              </tr>
              <tr>
                {{ passengersInTransit }}
              </tr>
            </td>
          </tr>
        </tbody>
        <div *ngIf="numberOfPassengers === 0" class="text-center my-3">
          <img *ngIf="iconPath" src="{{iconPath}}warning.png" height="24px" />
          <span class="no-wrap">Información del pasajero</span>
          <span class="no-wrap">está marcado para entrega,</span>
          <span class="no-wrap">pero no se proporciona información.</span>
        </div>

      </app-table-card>
    </div>
  </div>
