<div class="whatsNew">

    <h1>Novedades (Última actualización: 08.03.2019) </h1>

    <h4>Fecha de despliegue: 08.03.2019</h4>

    <div>
        <b>Cambios</b>
        <ol>
            <li><b>Features</b>
                <ul>
                    <li>
                        • Plantilla de hoja de cálculo reelaborada, campos agregados para Tiendas de barcos, pestaña Léame agregada.
                    </li>
                    <li>
                        • Plantilla de certificado de liquidación creada.
                    </li>
                    <li>
                        • Capacidad para generar un certificado de autorización para llamadas a puerto autorizadas.
                    </li>
                    <li>
                        • Configure el patrón de los buques tanto en el cliente (Registro de escala en puerto - Paso de tripulación)
                        como en la plantilla de la hoja de cálculo.
                    </li>
                </ul>
            </li>
            <li><b>Mejoras</b>
                <ul>
                    <li>
                        • Cambios en los formatos de fecha.
                    </li>
                    <li>
                        • Modificaciones y mejoras de la GUI.
                    </li>
                    <li>
                        • Re-trabajo de búsqueda de usuarios.
                    </li>
                    <li>
                        • Cambios en varios campos de texto en el cliente.
                    </li>
                </ul>
            </li>
            <li><b>Fixes</b>
                <ul>
                    <li>
                        • Se corrigió el error por el cual los modales a veces aparecían debajo del sitio en lugar de como una ventana emergente.
                    </li>
                    <li>
                        • Se corrigieron varios problemas de mapeo de hojas de cálculo.
                    </li>
                </ul>
            </li>

        </ol>
    </div>


    <h5 (click)="toggle010219ChangeSet()">Fecha de implementación: 01.02.2019 (haga clic para expandir / minimizar)
        <ng-container *ngIf="!toggle010219">
            <img src="{{downArrow}}" class="toggleImg">
        </ng-container>
        <ng-container *ngIf="toggle010219">
            <img src="{{upArrow}}" class="toggleImg">
        </ng-container>
    </h5>
    <div *ngIf="toggle010219">
        <b>Cambios</b>
        <ol>
            <li><b>Caracteristicas</b>
                <ul>
                    <li> • Ahora se admite la importación de datos de tiendas de barcos / tripulación / pasajeros.</li>
                </ul>
            </li>
            <li><b>Mejoras</b>
                <ul>
                    <li>
                        • Cambios en la GUI
                    </li>
                    <li>
                        • Cambios en la información general de la escala de puertos
                    </li>
                    <li>
                        • Vistas de edición mejoradas
                    </li>
                </ul>
            </li>
            <li><b>Fixes</b>
                <ul>
                    <li>
                        •
                    </li>
                </ul>
            </li>

        </ol>
    </div>

    <h5 (click)="toggle131218ChangeSet()">Fecha de implementación: 13.12.2018 (haga clic para expandir / minimizar)
        <ng-container *ngIf="!toggle131218">
            <img src="{{downArrow}}" class="toggleImg">
        </ng-container>
        <ng-container *ngIf="toggle131218">
            <img src="{{upArrow}}" class="toggleImg">
        </ng-container>
    </h5>

    <div *ngIf="toggle131218">

        <div>
            <b>Cambios</b>
            <ol>
                <li><b>Caracteristicas</b>
                    <ul>
                        <li> • Editar usuario ahora es compatible</li>
                        <li> • Puede desactivar / activar usuarios (les impide iniciar sesión en el sistema)</li>
                    </ul>
                </li>
                <li><b>Mejoras</b>
                    <ul>
                        <li>
                            • Cambios en el funcionamiento de la búsqueda (devuelve resultados más relevantes)
                        </li>
                        <li>
                            • Mantenimiento de la base de datos y cambios para agilizar el cliente
                        </li>
                        <li>
                            • Se agregaron valores de búsqueda predeterminados para usuarios / barcos / ubicaciones / organización
                        </li>
                        <li>
                            • Se cambió 'Compañía' a 'Compañía agente'
                        </li>
                        <li>
                            • Ahora solo puede seleccionar 'Compañía agente' para un nuevo usuario
                        </li>
                        <li>
                            • Ahora solo puede crear organizaciones de tipo 'Compañía agente' o 'RSO'
                        </li>
                        <li>
                            • Cambios en la página Crear usuario
                        </li>
                        <li>
                            • Solo se pueden seleccionar barcos activos al crear una nueva escala en el puerto
                        </li>
                        <li>
                            • Se fusionaron varias tablas en la página de descripción general de Port Call
                        </li>
                        <li>
                            • Puede crear una organización en un modal desde dentro de la página de creación de usuario
                        </li>
                        <li>
                            • Tiempos de carga reducidos para escalas en puertos y subsecciones
                        </li>
                    </ul>
                </li>
                <li><b>Arreglos</b>
                    <ul>
                        <li>
                            • Se solucionó el problema por el cual los modales a veces no se abrían
                        </li>
                        <li>
                            • Se corrigieron los tipos de entrada en el cliente
                        </li>
                        <li>
                            • Los códigos de país para las banderas se mostraban incorrectamente
                        </li>
                        <li>
                            • Se corrigieron errores relacionados con la creación de nuevos usuarios.
                        </li>
                        <li>
                            • Se eliminaron todas las 'Compañías de agentes' sin ningún usuario en ellas (se ha migrado anteriormente)
                        </li>
                        <li>
                            • • Varias DPG corregidas.
                        </li>
                    </ul>
                </li>

            </ol>
        </div>

    </div>

    <h5 (click)="toggle231118ChangeSet()">Fecha de implementación: 22.11.2018 (haga clic para expandir / minimizar)
        <ng-container *ngIf="!toggle231118">
            <img src="{{downArrow}}" class="toggleImg">
        </ng-container>
        <ng-container *ngIf="toggle231118">
            <img src="{{upArrow}}" class="toggleImg">
        </ng-container>
    </h5>

    <div *ngIf="toggle231118">
        <b>Cambios</b>
        <ol>
            <li><b>Caracteristicas</b>
                <ul>
                    <li>• Formulario DPG-FAL implementado</li>
                </ul>
            </li>
            <li><b>Mejoras</b>
                <ul>
                    <li>
                        • Carga mejorada de escalas portuarias
                    </li>
                    <li>
                        • Gestión de usuarios (buscar y editar detalles)
                    </li>
                    <li>
                        • La información del usuario cambió a "Creado por" (persona que crea el informe de llamada del barco)
                    </li>
                    <li>
                        • Listado de pax en pantalla resumen
                    </li>
                    <li>
                        • Listado de tripulantes en pantalla de resumen
                    </li>
                    <li>
                        • Listado de carga en pantalla de resumen
                    </li>
                </ul>
            </li>
            <li><b>Arreglos</b>
                <ul>
                    <li>
                        • Documento de identidad acepta valores alfanuméricos
                    </li>
                    <li>
                        • Validación del indicativo de llamada, 4-8 caracteres
                    </li>
                    <li>
                        • El número de registro de envío acepta valores numéricos alfa
                    </li>
                    <li>
                        • Cambios en la GUI de registro de barcos (cosmética)
                    </li>
                    <li>
                        • Código de ubicación 2 caracteres + 3 caracteres
                    </li>
                    <li>
                        • Se eliminó el código de artículo de las tiendas de barcos
                    </li>
                    <li>
                        • Se corrigieron algunos errores tipográficos
                    </li>
                    <li>
                        • Validación de MMSI e IMO #
                    </li>
                    <li>
                        • Validación de códigos de ubicación (código único)
                    </li>
                    <li>
                        • Se requiere la fecha de emisión / vencimiento del documento de identidad
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
