<form>
  <app-ssn-card header="Identity Document Information" icon="user-info.png" [collapsible]="true">
    <div class="row">
      <div class="col-lg-6">

        <div class="form-group row">
          <div class="col my-auto">
            <label for="natureOfIdentityDoc" class="col-form-label-sm no-wrap mb-0">Naturaleza del documento de identidad</label>
            <ng-select class="ng-select-placeholder-size" [items]="identityDocTypeList" [(ngModel)]="identityDocumentModel.identityDocumentType"
              name="natureOfIdentityDoc" [closeOnSelect]="true" bindLabel="description" placeholder="Nature of Identity Document"
              (change)="setIdentityDocumentType($event)">
            </ng-select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col my-auto">
            <label for="numberOfIdentityDoc" class="col-form-label-sm no-wrap mb-0">Número de documento de identidad</label>
            <input #numberOfIdentityDoc="ngModel" type="text" [(ngModel)]="identityDocumentModel.identityDocumentNumber" placeholder="Number of Identity Document"
              class="form-control form-control-sm" name="numberOfIdentityDoc" (ngModelChange)="setNumberOfIdentityDoc($event)">
              <div *ngIf="!identityDocumentModel.identityDocumentNumber && identityDatesRequired" class="alert alert-danger form-control-sm" role="alert">
                <li>
                  <small>Este campo es obligatorio cuando se proporciona el documento de identidad.</small>
                </li>
              </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-search-country" class="col-form-label-sm no-wrap mb-0">Nación emisora</label>
            <app-search-country *ngIf="!identityDocumentModel.issuingNation" (selectCountry)="setIssuingNation($event)" (deselectCountry)="resetIssuingNation()"></app-search-country>
            <div *ngIf="identityDocumentModel.issuingNation" class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="assets/images/flags/128x128/{{ identityDocumentModel.issuingNation.twoCharCode | lowercase}}.png" height="20px">
                </span>
              </div>
              <input id="search-country" type="text" class="form-control" readonly="readonly" [ngModel]="identityDocumentModel.issuingNation.name"
                name="issuingNation" />
              <div>
                <div class="input-group-append">
                  <button class="btn btn-sm btn-ssn" ngbTooltip="Remove issuing nation" (click)="resetIssuingNation()">
                    <img height="16px" src="assets/images/icons/128x128/white/cancel.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-date-picker" class="col-form-label-sm no-wrap mb-0">Fecha de emisión del documento de identidad</label>
            <app-date-picker #selectIssueDate (dateResult)="setIdentityDocumentIssueDate($event)" [dateInput]="getNgbDateFormat(identityDocumentModel.identityDocumentIssueDate)"></app-date-picker>
            <div *ngIf="issueDateAfterExpiryDateError && expiryDateValid && issueDateValid" class="alert alert-danger" role="alert">
              <li>
                <small>La fecha de emisión del documento de identidad debe ser anterior a la fecha de vencimiento.</small>
              </li>
            </div>
            <div *ngIf="identityDatesRequired && !identityIssueDateSet" class="alert alert-danger form-control-sm" role="alert">
              <li>
                <small>Este campo es obligatorio cuando se proporciona el documento de identidad.</small>
              </li>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col my-auto">
            <label for="app-date-picker" class="col-form-label-sm no-wrap mb-0">Fecha de vencimiento del documento de identidad</label>
            <app-date-picker #selectExpiryDate (dateResult)="setIdentityDocumentExpiryDate($event)" [dateInput]="getNgbDateFormat(identityDocumentModel.identityDocumentExpiryDate)"></app-date-picker>
            <div *ngIf="expiryDateBeforeIssueDateError && expiryDateValid && issueDateValid" class="alert alert-danger" role="alert">
              <li>
                <small>La fecha de vencimiento del documento de identidad debe ser posterior a la fecha de emisión.</small>
              </li>
            </div>
            <div *ngIf="identityDatesRequired && !identityExpiryDateSet" class="alert alert-danger form-control-sm" role="alert">
              <li>
                <small>Este campo es obligatorio cuando se proporciona el documento de identidad.</small>
              </li>
            </div>
          </div>
        </div>

        <div *ngIf="showVisaOrResidenceNumber == true">
          <div class="form-group row">
            <div class="col my-auto">
              <label for="visaOrResidenceNumber" class="col-form-label-sm no-wrap mb-0">Número de visa o permiso de residencia</label>
              <input #visaOrResidencePermitNumber="ngModel" type="text" [(ngModel)]="identityDocumentModel.visaOrResidencePermitNumber"
                placeholder="Visa or Residence Permit Number" class="form-control form-control-sm" name="visaOrResidenceNumber"
                (ngModelChange)="setVisaOrPermitNumber($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-ssn-card>
</form>
