<app-ssn-bg header="{{ shipHeader }}" icon="ship.png">
  <form #form="ngForm">
    <div class="row">
      <div class="col">
        <app-ssn-card header="Ship Identification" icon="ship.png">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_name">Nombre del barco</label>
                  <input [(ngModel)]="shipModel.name" (ngModelChange)="touchData()" name="shipName" type="text" class="form-control form-control-sm"
                    id="ship_name" placeholder="Enter ship name" />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="call_sign">Señal de llamada</label>
                  <input [(ngModel)]="shipModel.callSign" (ngModelChange)="touchData()" name="callSign" type="text"
                    class="form-control form-control-sm" id="call_sign" placeholder="Enter call sign" minlength="4"
                    maxlength="8" #callSign="ngModel">
                </div>
              </div>
              <div *ngIf="!callSign.valid" class="alert alert-danger">
                <li *ngIf="callSign.hasError('minlength')">
                  <small>El número de indicativo debe tener entre 4 y 8 caracteres.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="imo_no">Numero IMO</label>
                  <input [(ngModel)]="shipModel.imoNo" (ngModelChange)="validImoNumber()" name="imoNo" type="number" class="form-control form-control-sm"
                    id="imo_no" placeholder="Enter IMO number" #imoNo="ngModel" numberValidator integerValidator
                    positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!imoNo.valid || !imoValid" class="alert alert-danger">
                <li *ngIf="imoNo.hasError('notNumberError')">
                  <small>El número IMO debe ser un número válido.</small>
                </li>
                <li *ngIf="imoNo.hasError('notIntegerError')">
                  <small>El número IMO debe ser un número entero.</small>
                </li>
                <li *ngIf="imoNo.hasError('notPositiveNumberError')">
                  <small>El número IMO debe ser un número positivo.</small>
                </li>
                <li *ngIf="!imoValid">
                  <small>{{imoErrorString}}</small>
                </li>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="mmsi_no">Numero MMSI</label>
                  <input [(ngModel)]="shipModel.mmsiNo" (ngModelChange)="validMmsiNumber()" name="mmsiNo" type="number" class="form-control form-control-sm"
                    id="mmsi_no" placeholder="Enter MMSI number" #mmsiNo="ngModel" integerValidator minlength="9"
                    maxlength="9" positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!mmsiNo.valid || !mmsiValid" class="alert alert-danger">
                <li *ngIf="mmsiNo.hasError('notIntegerError')">
                  <small>El número MMSI debe ser un número entero.</small>
                </li>
                <li *ngIf="mmsiNo.hasError('notPositiveNumberError')">
                  <small>El número MMSI debe ser un número positivo.</small>
                </li>
                <li *ngIf="mmsiNo.hasError('minlength')">
                    <small>El número MMSI debe tener 9 números.</small>
                </li>
                <li *ngIf="mmsiNo.hasError('maxlength')">
                    <small>El número MMSI debe tener 9 números.</small>
                </li>
                <li *ngIf="!mmsiValid">
                  <small>{{mmsiErrorString}}</small>
                </li>
              </div>
            </div>
          </div>
        </app-ssn-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-ssn-card header="Ship Details" icon="ship.png">
          <div class="row">
            <div class="col-md-6 col-lg-6" *ngIf="!shipTypeSelected">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_type_select">Tipo de barco</label>
                  <ng-select id="ship_type_select" name="ship_type_select" [items]="shipTypeList" [multiple]="false"
                    [closeOnSelect]="true" bindLabel="name" placeholder="Select ship type" [(ngModel)]="selectedShipType"
                    (change)="selectShipType($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6" *ngIf="shipTypeSelected">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_type">Tipo de barco</label>
                  <div class="input-group">
                    <input id="ship_type" name="ship_type" type="text" class="form-control form-control-sm" [ngModel]="selectedShipType.name"
                      disabled="true" />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-ssn" (click)="deselectShipType()">
                        <img src="assets/images/icons/128x128/white/cancel.png" height="16px">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="year_of_build">Año de construcción</label>
                  <input [(ngModel)]="shipModel.yearOfBuild" (ngModelChange)="touchData()" name="yearOfBuild" type="number"
                    class="form-control form-control-sm" id="year_of_build" placeholder="Enter year of build"
                    #yearOfBuild="ngModel" numberValidator integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!yearOfBuild.valid" class="alert alert-danger">
                <li *ngIf="yearOfBuild.hasError('notNumberError')">
                  <small>El año de construcción debe ser un número válido.</small>
                </li>
                <li *ngIf="yearOfBuild.hasError('notIntegerError')">
                  <small>El año de construcción debe ser un número entero.</small>
                </li>
                <li *ngIf="yearOfBuild.hasError('notPositiveNumberError')">
                  <small>El año de construcción debe ser un número positivo.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_length">Tamaño</label>
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="lengthTypeDropdown" ngbDropdownToggle> {{
                        lengthTypeDropdownString
                        }} </button>
                      <div ngbDropdownMenu aria-labelledby="lengthTypeDropdown">
                        <button class="dropdown-item" *ngFor="let lengthType of lengthTypeList" (click)="selectLengthType(lengthType)">{{
                          lengthType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.length" (ngModelChange)="touchData()" name="shipLength" type="number"
                      class="form-control form-control-sm" id="ship_length" placeholder="Enter ship length" [disabled]="!lengthTypeSelected"
                      #shipLength="ngModel" numberValidator positiveNumberValidator />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipLength.valid && lengthTypeSelected" class="alert alert-danger">
                <li *ngIf="shipLength.hasError('notNumberError')">
                  <small>El tamaño del barco debe ser un número valido.</small>
                </li>
                <li *ngIf="shipLength.hasError('notPositiveNumberError')">
                  <small>El tamaño del barco debe ser un número positivo.</small>
                </li>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_breadth">Ancho</label>
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="breadthTypeDropdown" ngbDropdownToggle> {{
                        breadthTypeDropdownString
                        }} </button>
                      <div ngbDropdownMenu aria-labelledby="breadthTypeDropdown">
                        <button class="dropdown-item" *ngFor="let breadthType of breadthTypeList" (click)="selectBreadthType(breadthType)">{{
                          breadthType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.breadth" (ngModelChange)="touchData()" name="breadth" type="number"
                      class="form-control form-control-sm" id="ship_breadth" placeholder="Enter ship breadth"
                      [disabled]="!breadthTypeSelected" #shipBreadth="ngModel" numberValidator positiveNumberValidator />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipBreadth.valid && breadthTypeSelected" class="alert alert-danger">
                <li *ngIf="shipBreadth.hasError('notNumberError')">
                  <small>El ancho del barco debe ser un número válido.</small>
                </li>
                <li *ngIf="shipBreadth.hasError('notPositiveNumberError')">
                  <small>El ancho del barco debe ser un número positivo.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_power">Potencia</label>
                  <div class="input-group">
                    <div ngbDropdown class="input-group-prepend">
                      <button class="btn btn-sm btn-ssn" id="powerTypeDropdown" ngbDropdownToggle> {{
                        powerTypeDropdownString
                        }} </button>
                      <div ngbDropdownMenu aria-labelledby="powerTypeDropdown">
                        <button class="dropdown-item" *ngFor="let powerType of powerTypeList" (click)="selectPowerType(powerType)">{{
                          powerType.name }}</button>
                      </div>
                    </div>
                    <input [(ngModel)]="shipModel.power" (ngModelChange)="touchData()" name="power" type="number" class="form-control form-control-sm"
                      id="ship_power" placeholder="Enter ship power" [disabled]="!powerTypeSelected" #shipPower="ngModel"
                      numberValidator integerValidator positiveNumberValidator />
                  </div>
                </div>
              </div>
              <div *ngIf="!shipPower.valid && powerTypeSelected" class="alert alert-danger">
                <li *ngIf="shipPower.hasError('notNumberError')">
                  <small>La potencia del barco debe ser un número válido.</small>
                </li>
                <li *ngIf="shipPower.hasError('notIntegerError')">
                  <small>La potencia del barco debe ser un número entero.</small>
                </li>
                <li *ngIf="shipPower.hasError('notPositiveNumberError')">
                  <small>La potencia del barco debe ser un número positivo.</small>
                </li>
              </div>
            </div>
            <div class="col-md-1 col-lg-1">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_status_dropdown">Estado del barco</label>
                  <div ngbDropdown>
                    <button class="btn btn-sm btn-ssn" id="ship_status_dropdown" ngbDropdownToggle> {{
                      shipStatusDropdownString
                      }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="ship_status_dropdown">
                      <button class="dropdown-item" *ngFor="let shipStatus of shipStatusList" (click)="selectShipStatus(shipStatus)">{{
                        shipStatus.name }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-lg-1">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="hull_type_dropdown">Tipo de casco</label>
                  <div ngbDropdown>
                    <button class="btn btn-sm btn-ssn" id="hull_type_dropdown" ngbDropdownToggle> {{
                      hullTypeDropdownString
                      }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="hull_type_dropdown">
                      <button class="dropdown-item" *ngFor="let hullType of hullTypeList" (click)="selectHullType(hullType)">{{
                        hullType.name }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_height">Altura</label>
                  <input [(ngModel)]="shipModel.height" (ngModelChange)="touchData()" #shipHeight="ngModel"
                    numberValidator positiveNumberValidator name="height" type="number" class="form-control form-control-sm"
                    id="height" placeholder="Enter ship height" />
                </div>
              </div>
              <div *ngIf="!shipHeight.valid" class="alert alert-danger">
                <li *ngIf="shipHeight.hasError('notNumberError')">
                  <small>La altura del barco debe ser un número válido.</small>
                </li>
                <li *ngIf="shipHeight.hasError('notPositiveNumberError')">
                  <small>La altura del barco debe ser un número positivo.</small>
                </li>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0" for="ship_draught">Calado</label>
                  <input [(ngModel)]="shipModel.draught" (ngModelChange)="touchData()" name="draught" type="number"
                    class="form-control form-control-sm" id="ship_draught" placeholder="Enter ship draught"
                    #shipDraught="ngModel" numberValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!shipDraught.valid" class="alert alert-danger">
                <li *ngIf="shipDraught.hasError('notNumberError')">
                  <small>El calado del barco debe ser un número válido.</small>
                </li>
                <li *ngIf="shipDraught.hasError('notPositiveNumberError')">
                  <small>El calado del barco debe ser un número positivo.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0">Arqueo bruto</label>
                  <input [(ngModel)]="shipModel.grossTonnage" (ngModelChange)="touchData()" name="grossTonnage" type="number"
                    class="form-control form-control-sm" id="gross_tonnage" placeholder="Enter gross tonnage"
                    #grossTonnage="ngModel" numberValidator integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!grossTonnage.valid" class="alert alert-danger">
                <li *ngIf="grossTonnage.hasError('notNumberError')">
                  <small>El Arqueo bruto debe ser un número válido.</small>
                </li>
                <li *ngIf="grossTonnage.hasError('notIntegerError')">
                  <small>El Arqueo bruto debe ser un número entero.</small>
                </li>
                <li *ngIf="grossTonnage.hasError('notPositiveNumberError')">
                  <small>El Arqueo bruto debe ser un número positivo.</small>
                </li>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0">Tonelaje de peso muerto</label>
                  <input [(ngModel)]="shipModel.deadweightTonnage" (ngModelChange)="touchData()" name="deadweightTonnage"
                    type="number" class="form-control form-control-sm" id="deadweight_tonnage" placeholder="Enter deadweight tonnage"
                    #dwt="ngModel" numberValidator integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!dwt.valid" class="alert alert-danger">
                <li *ngIf="dwt.hasError('notNumberError')">
                  <small>El tonelaje de peso muerto debe ser un número válido.</small>
                </li>
                <li *ngIf="dwt.hasError('notIntegerError')">
                  <small>El tonelaje de peso muerto debe ser un número entero.</small>
                </li>
                <li *ngIf="dwt.hasError('notPositiveNumberError')">
                  <small>El tonelaje de peso muerto debe ser un número positivo.</small>
                </li>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group row">
                <div class="col">
                  <label class="col-form-label-sm no-wrap mb-0">Arqueo neto</label>
                  <input [(ngModel)]="shipModel.netTonnage" (ngModelChange)="touchData()" name="netTonnage" type="number"
                    class="form-control form-control-sm" id="net_tonnage" placeholder="Enter net tonnage" #netTonnage="ngModel"
                    numberValidator integerValidator positiveNumberValidator />
                </div>
              </div>
              <div *ngIf="!netTonnage.valid" class="alert alert-danger">
                <li *ngIf="netTonnage.hasError('notNumberError')">
                  <small>El Arqueo neto debe ser un número válido.</small>
                </li>
                <li *ngIf="netTonnage.hasError('notIntegerError')">
                  <small>El Arqueo neto debe ser un número entero.</small>
                </li>
                <li *ngIf="netTonnage.hasError('notPositiveNumberError')">
                  <small>El Arqueo neto debe ser un número positivo.</small>
                </li>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label-sm no-wrap mb-0" for="has_side_thrusters">Propulsores laterales</label>
            <div class="card pt-2" id="has_side_thrusters">
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm no-wrap mb-0">
                    <input [(ngModel)]="shipModel.hasSideThrustersBack" (ngModelChange)="touchData()" name="hasSideThrustersBack"
                      type="checkbox" value=""> Propulsores laterales trasero</label>
                </div>
              </div>
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm no-wrap mb-0">
                    <input [(ngModel)]="shipModel.hasSideThrustersFront" (ngModelChange)="touchData()" name="hasSideThrustersFront"
                      type="checkbox" value=""> Propulsores laterales delanteros</label>
                </div>
              </div>
              <div class="checkbox row">
                <div class="col ml-2">
                  <label class="col-form-label-sm no-wrap mb-0">
                    <input [(ngModel)]="shipModel.hasSideThrusters" (ngModelChange)="touchData()" name="hasSideThrusters"
                      type="checkbox" value=""> Propulsores laterales
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label-sm no-wrap mb-0" for="remark">Observación</label>
            <textarea [(ngModel)]="shipModel.remark" (ngModelChange)="touchData()" name="remark" class="form-control form-control-sm"
              rows="4" id="remark"></textarea>
          </div>
        </app-ssn-card>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <app-ssn-card header="Flag Code" icon="flag.png">
        <div *ngIf="!shipFlagCodeSelected">
          <app-search-ship-flag-code (shipFlagCodeResult)="onShipFlagCodeResult($event)"></app-search-ship-flag-code>
        </div>

        <div *ngIf="shipFlagCodeSelected" class="text-center">
          <div class="table-responsive">
            <app-ssn-table [entryData]=shipFlagCodeProperties></app-ssn-table>
          </div>
          <button class="btn btn-ssn" (click)="deselectShipFlagCode()">
            <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Borrar selección</button>
        </div>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-select-ship-contact [selectedContactModelList]="shipModel.shipContact" (contactModelListResult)="onContactDataResult($event)"></app-select-ship-contact>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ssn-card header="Owner" icon="pax.png">
        <div *ngIf="!organizationSelected">
          <app-search-organization (organizationResult)="onOrganizationResult($event)"></app-search-organization>
        </div>

        <div *ngIf="organizationSelected" class="text-center">
          <div class="table-responsive">
            <app-ssn-table [entryData]=organizationProperties></app-ssn-table>
          </div>
          <button class="btn btn-ssn" (click)="deselectOrganization()">
            <img src="assets/images/icons/128x128/white/cancel.png" height="24px" /> Borrar selección</button>
        </div>
      </app-ssn-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-certificate-of-registry [certificateModel]="shipModel.certificateOfRegistry" (certificateResult)="onCertificateOfRegistryResult($event)">
      </app-certificate-of-registry>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-ssn-card header="{{ confirmHeader }}" icon="checkmark.png">

        <div class="text-center" *ngIf="!form.valid || !(shipModel.name && shipModel.callSign && shipModel.imoNo && shipTypeSelected
                        && shipModel.yearOfBuild && shipModel.length && lengthTypeSelected && shipModel.breadth && breadthTypeSelected
                        && shipModel.power && powerTypeSelected && hullTypeSelected && shipModel.height && shipModel.draught
                        && shipModel.grossTonnage && shipModel.deadweightTonnage && shipFlagCodeSelected && contactSelected
                        && organizationSelected && certificateSelected && shipStatusSelected)">
          <div *ngIf="!form.valid" class="text-center">
            <div class="alert alert-danger">
              Hay errores en el formulario que deben resolverse.
            </div>
          </div>
          <div class="mb-3">
            <p class="no-wrap mb-0" *ngIf="!shipModel.name">No se ha establecido el nombre del barco.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.callSign">Distintivo de llamada no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.imoNo">Número IMO no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!imoValid">Número IMO no válido.</p>
            <p class="no-wrap mb-0" *ngIf="!mmsiValid">El número MMSI no es válido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipTypeSelected">Tipo de barco no seleccionado.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.yearOfBuild">Año de construcción no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.length || !lengthTypeSelected">Tamaño del barco no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.breadth || !breadthTypeSelected">Ancho del barco no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.power || !powerTypeSelected">Potencia del barco no establecida.</p>
            <p class="no-wrap mb-0" *ngIf="!hullTypeSelected">Tipo de casco no seleccionado.</p>
            <p class="no-wrap mb-0" *ngIf="!shipStatusSelected">Estado del barco no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.height">Altura del barco no establecida.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.draught">Calado del barco no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.grossTonnage">Arqueo bruto no establecido.</p>
            <p class="no-wrap mb-0" *ngIf="!shipModel.deadweightTonnage">No se ha establecido el tonelaje de peso muerto.</p>
            <p class="no-wrap mb-0" *ngIf="!shipFlagCodeSelected">Código de bandera no seleccionado.</p>
            <p class="no-wrap mb-0" *ngIf="!contactSelected">Debe proporcionarse al menos un medio de contacto.</p>
            <p class="no-wrap mb-0" *ngIf="!organizationSelected">Organización no seleccionada.</p>
            <p class="no-wrap mb-0" *ngIf="!certificateSelected">Debe proporcionarse certificado de registro.</p>
          </div>
          <button class="btn btn-ssn" disabled>
            <img src="assets/images/icons/128x128/white/checkmark.png" height="24px" />{{ confirmButtonTitle }}</button>
        </div>

        <div class="text-center" *ngIf="form.valid && shipModel.name && shipModel.callSign && shipModel.imoNo && shipTypeSelected
                        && shipModel.yearOfBuild && shipModel.length && lengthTypeSelected && shipModel.breadth && breadthTypeSelected
                        && shipModel.power && powerTypeSelected && hullTypeSelected && shipModel.height && shipModel.draught
                        && shipModel.grossTonnage && shipModel.deadweightTonnage && shipFlagCodeSelected && contactSelected
                        && organizationSelected && certificateSelected && shipStatusSelected && imoValid && mmsiValid">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Nombre del barco</th>
                  <th>Señal de llamada</th>
                  <th>Número IMO</th>
                  <th *ngIf="shipModel.mmsiNo">Número MMSI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ shipModel.name }}</td>
                  <td>{{ shipModel.callSign }}</td>
                  <td>{{ shipModel.imoNo }}</td>
                  <td *ngIf="shipModel.mmsiNo">{{ shipModel.mmsiNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Tipo de barco</th>
                  <th>Año de construcción</th>
                  <th>Tamaño</th>
                  <th>Ancho</th>
                  <th>Potencia</th>
                  <th>Tipo de casco</th>
                  <th>Estado</th>
                  <th>Altura</th>
                  <th>Calado</th>
                  <th>Arqueo bruto</th>
                  <th>Tonelaje de peso muerto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="shipTypeSelected">{{ selectedShipType.name }}</td>
                  <td>{{ shipModel.yearOfBuild }}</td>
                  <td>{{ lengthTypeDropdownString }}
                    <br>{{ shipModel.length }}</td>
                  <td>{{ breadthTypeDropdownString }}
                    <br>{{ shipModel.breadth }}</td>
                  <td>{{ powerTypeDropdownString }}
                    <br>{{ shipModel.power }}</td>
                  <td>{{ hullTypeDropdownString }}</td>
                  <td>{{ shipStatusDropdownString }}</td>
                  <td>{{ shipModel.height }}</td>
                  <td>{{ shipModel.draught }}</td>
                  <td>{{ shipModel.grossTonnage }}</td>
                  <td>{{ shipModel.deadweightTonnage }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p *ngIf="shipModel.hasSideThrusters">El barco tiene propulsores laterales.</p>
          <p *ngIf="shipModel.hasSideThrustersFront">El barco tiene propulsores laterales delanteros.</p>
          <p *ngIf="shipModel.hasSideThrustersBack">El barco tiene propulsores en la parte trasera.</p>

          <div *ngIf="shipModel.remark">
            <span>Observación:</span>
            <div class="card p-1 pt-3 text-left mb-3">
              <pre>{{ shipModel.remark }}</pre>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Bandera del país</th>
                  <th>Código de bandera del barco</th>
                  <th>País</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/images/flags/{{ shipFlagCodeModel.country.twoCharCode | lowercase }}.png" height="20px" />
                  </td>
                  <td>{{ shipFlagCodeModel.country.threeCharCode }}</td>
                  <td>{{ shipFlagCodeModel.country.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <app-selected-contact-mediums [selectedContactModelList]="shipModel.shipContact"></app-selected-contact-mediums>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Nombre de la Organización</th>
                  <th>Número de organización</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ organizationModel.name }}</td>
                  <td>{{ organizationModel.organizationNo }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-ssn text-ssn">
                  <th>Puerto de registro</th>
                  <th>Número de registro del barco</th>
                  <th>Fecha de emisión</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ certificateModel.portLocation.name }}</td>
                  <td>{{ certificateModel.certificateNumber }}</td>
                  <td>{{ certificateDateString }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="dataIsPristine">
            <span>{{ dataIsPristineText }}</span>
            <br>
            <button class="btn btn-ssn mt-2" disabled>
              <img src="assets/images/icons/128x128/white/save.png" height="24px">
              <span>{{ confirmButtonTitle }}</span>
            </button>
          </div>
          <div class="text-center" *ngIf="!(dataIsPristine)">
            <button class="btn btn-ssn" (click)="registerShip()">
              <img src="assets/images/icons/128x128/white/checkmark.png" height="24px" /> {{ confirmButtonTitle }}</button>
          </div>
        </div>
      </app-ssn-card>
    </div>
  </div>
</app-ssn-bg>
